body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
}
#mission_info{
    height: 700px;
    margin-bottom: 80px;
}
.container{
    margin: 0% 10%;
}
.mission_info_wrap{
    display: flex;
}
.mission_text_box{
    width: 60%;
}
.mission_text_box h1{
    font-size: 60px;
    margin-top: 150px;
    font-weight: 800;
    padding-left: 10px;
    border-left: 7px solid;
    border-image: linear-gradient(#027bdd, #5edbd8);
    border-image-slice: 1;
    border-top-left-radius: 20px;
}
.mission_text_box span{
    color:#1a73e8;
}
.mission_text_box p{
    font-size: 25px;
    margin-right: 130px;
    color: rgb(65, 65, 65);
}
button{
    color: white;
    border: none;
    border-radius: 7px;
    font-weight: 600;
    background: linear-gradient(90deg, #027bdd, #5edbd8);
    cursor: pointer;
}
button:hover{
    background: linear-gradient(90deg,#5edbd8, #027bdd);
}
.mission_text_box button{
    font-size: 20px;
    padding: 15px 30px;
}
#scroll_text{
    font-size: 20px;
}
.mission_img_box{
    width: 40%;
}
.mission_img_box img{
    width: 90%;
}
#skill{
    margin: 100px 0px;
}
.head_text h1{
    font-size: 48px;
    text-align: center;
    margin-bottom: 70px;
}
.head_text h1 span{
    color: #1a73e8;
}
.skill_box_wrap{
    display: flex;
    justify-content: space-around;
}
.skill_box{
    width: 300px;
    padding: 20px;
    border: none;
    border-radius: 8px;
}
.skill_box_img{
    padding-bottom: 30px;
}
.skill_box_text p{
    font-size: 20px;
}
.skill_box_1{
    background-color: #ffe1e1;
}
.skill_box_2{
    background-color: #cbf3f8;
}
.skill_box_3{
    background-color: #fff4d6;
}

#learning_methods{
    padding: 80px 0px;
}
.learning_methods_wrap{
    padding-bottom: 80px;
    display: flex;
}
.learning_img{
    width: 40%;
}
.learning_img img{
    width: 100%;
}
.learning_methods_info{
    width: 60%;
    padding: 0px 60px 0px 60px;
    margin-left: 50px;
}
.learning_methods_info h1{
    font-size: 45px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.learning_methods_info p{
    font-size: 22px;
}
.learning_methods_info button{
    padding: 18px 27px;
    font-size: 25px;
    margin-top: 40px;
}




